<h1>Flash-Stach!</h1>

<ul>
<% @decks.each do |deck| %>
	<p><%=deck.category%><p>
	<%= form_for deck, :url => rounds_path, :html => { :method => :post} do |f| %>
		<%= f.submit %>
	<% end %>
	</li>

<% end %>
</ul>

